<h1>Rails & <vg>Vue</vg>.js App</h1>
<div id="app">
</div>
<style>
h1:first-letter{
    color: brown;
}
*{
    color: #35495e;
}
body{
    padding: 0;
    margin: 25px;
}
vg {
    color: #42b883;
}

i{
    transform: scale(0.8) !important;
    transition: .25s;
}
a.lr, a.lr:visited{
    color: black;
    background:transparent;
    text-decoration:none;
    transition: .25s;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.lr:hover, a.lr:hover > *{
    color: brown;
    background: transparent;
}

</style>